nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header);
    
    width: 100%;
    margin-top: 1rem;
}
.navbar{
    max-width: var(--max-width) !important;
}
.navbar-collapse{
    transition: 50ms;
    justify-content: flex-end !important;
}
.navbar-brand{
    font-weight: 800;
}
.nav-link{
    font-weight: 500;

    &:hover{
        color: var(--tutoz)
    }
}

@media (width <= 991px) {
    .nav-link{
        text-align: right;
    }
}
@media (width <= 425px) {
    nav{
        margin-top: auto;
    }
}